# Part 1

In [24]:
import pandas as pd

## Question 1

 In the API walkthrough, we show you how to retrieve data from a website by making a request. For this exercise, we've already crawled the data and combined it into a dataset that includes a list of movies along with their IMDB ratings and other metadata.

You can load the data from the this URL: "https://media.githubusercontent.com/media/michalis0/Business-Intelligence-and-Analytics/refs/heads/master/data/imdb_movies.csv"

In [25]:
url = "https://media.githubusercontent.com/media/michalis0/Business-Intelligence-and-Analytics/refs/heads/master/data/imdb_movies.csv"
df_movies = pd.read_csv(url)

## Question 2

Check the data by using the following functions:
* `.head(n)`(print the first n rows, `head()` by default returns the first 5 rows)
* `.tail(n)` (print the last n rows, `.tail()` by default returns the last 5 rows)
* `.columns` (column names)
* `.index` (raw identifier)
* `.dtypes` (column types)

In [26]:
# Beginning of the list
print('Beginning of the list:')
df_movies.head()

Beginning of the list:

,Title,Year,Genres,Duration,Rating,MPA,Votes
0,1. American Sniper,2014,"['Action', 'Biography', 'Drama', 'War']",2h 13m,7.3,R,543K
1,2. The Hunger Games: Mockingjay - Part 1,2014,"['Dystopian Sci-Fi', 'Action', 'Adventure', 'S...",2h 3m,6.6,PG-13,517K
2,3. Guardians of the Galaxy,2014,"['Quest', 'Space Sci-Fi', 'Superhero', 'Action...",2h 1m,8.0,PG-13,1.3M
3,4. Captain America: The Winter Soldier,2014,"['Conspiracy Thriller', 'Political Thriller', ...",2h 16m,7.7,PG-13,920K
4,5. The Lego Movie,2014,"['Computer Animation', 'Dystopian Sci-Fi', 'Gl...",1h 40m,7.7,PG,397K

In [27]:
# End of the list
print('End of the list:')
df_movies.tail()

End of the list:

,Title,Year,Genres,Duration,Rating,MPA,Votes
5945,596. Vettaiyan,2024,"['Cop Drama', 'One-Person Army Action', 'Actio...",2h 43m,7.1,NaN,38K
5946,597. Nr. 24,2024,"['Docudrama', 'Epic', 'Period Drama', 'Biograp...",1h 51m,7.7,NaN,3.4K
5947,598. Parallel,2024,"['Drama', 'Sci-Fi', 'Thriller']",1h 28m,5.3,NaN,1.7K
5948,599. Fight or Flight,2024,"['Action', 'Comedy']",2h 46m,7.0,NaN,117
5949,600. A Sacrifice,2024,"['Drama', 'Horror', 'Mystery', 'Thriller']",1h 34m,5.1,R,4.3K

In [28]:
# Column names
print('Column names:')
df_movies.columns

Column names:

Index(['Title', 'Year', 'Genres', 'Duration', 'Rating', 'MPA', 'Votes'], dtype='object')

In [29]:
# Raw identifier
print('Raw identifier:')
df_movies.index

Raw identifier:

RangeIndex(start=0, stop=5950, step=1)

In [30]:
# Column types
print('Column types:')
df_movies.dtypes

Column types:

Title       object
Year         int64
Genres      object
Duration    object
Rating      object
MPA         object
Votes       object
dtype: object

## Question 3

Remember that each column/attribute of our data may have different attribute types. Have a look at the following table to recall the different DataTypes in Pandas and Python (it is the same as in the walkthrough).

| Pandas dtype  | Python type  | NumPy type|Usage
| :--- | :--- | :--- | :--- |
| object| str or mixed | string_, unicode_, mixed types| Text or mixed numeric and non_numeric values |
| int 64| int| int_, int8, int16, int32, int64, uint8, uint18, uint32, uint64 | Integer numbers i.e. [1,2,3,...] |
| float64| float| float_, float15, float32, float64 | Floating point numbers (They contain decimal points) |
| bool| bool|bool_| True/False values|
| datetime64 | NA | datetime64[ns]     | Date and time values  |
| timedelta[ns] | NA  | NA| Differences between two datetime|
| category | NA| NA| Finite list of text values|

Use the following cells to convert each column to the required dtype:

In [31]:
# Convert MPA to category
df_movies['MPA'] = df_movies['MPA'].astype('category')

In [32]:
# Convert Rating to numeric
df_movies['Rating'] = pd.to_numeric(df_movies['Rating'], errors='coerce')

Now let's have a look at the new column types:

In [33]:
# New column types
print('New column types:')
df_movies.dtypes

New column types:

Title         object
Year           int64
Genres        object
Duration      object
Rating       float64
MPA         category
Votes         object
dtype: object

# Part 2

## Question 4
The dataset contains some null values. Count the number of null values in each column using `.isnull().sum()`.

Then, remove all rows that contain **at least** one null value using `.dropna()`.

Print the shape of the dataframe before and after the cleaning process using `.shape`. How many rows were deleted?


#### Key Parameters for `.dropna()`:

- **axis**:
  - `0` (default) → Drops rows with NaN values.
  - `1` → Drops columns with NaN values.

- **how**:
  - `"any"` (default) → Drops a row if **any** value in the row is NaN.
  - `"all"` → Drops a row only if **all** values in the row are NaN.

- **inplace**:
  - `False` (default) → Returns a new DataFrame with NaN rows removed.
  - `True` → Modifies the original DataFrame in place.

**Solution:**

In [34]:
# Original shape
df_movies.shape

(5950, 7)

In [35]:
# Get the original number of rows
original_number_of_rows = df_movies.shape[0]
original_number_of_rows

5950

In [37]:
# Count the number of null values in each column
df_movies.isnull().sum()

Title          0
Year           0
Genres         0
Duration      26
Rating        38
MPA         1364
Votes         38
dtype: int64

In [38]:
# Drop rows with null values
df_removed_nan = df_movies.dropna()

In [39]:
# Print shape of data after dropping null values
df_removed_nan.shape

(4585, 7)

In [40]:
# Check the number of rows after dropping
new_number_of_rows = df_removed_nan.shape[0]
new_number_of_rows

4585

<h2>Important: This question answers the Moodle quiz question 1. </h2>

In [41]:
# Print number of deleted rows
print('Number of deleted rows:', original_number_of_rows - new_number_of_rows)

Number of deleted rows: 1365

## Question 5

We will now apply some selections/filters on the dataframe to get some insights:
- Display the statistics of the ratings (hint: use `describe()`).
- Find the average rating of movies per year (hint: use `groupby()` and `mean()`).
- Print the top 10 movies with highest ratings in 2024 (hint: filter movies that released in 2024 and use `sort_values()`).
- [Optional] Find the average rating of action movies per year (hint: filter movies that contain 'Action' in their Genres, use `groupby()` and `mean()`).

**Solution**:

In [42]:
# Display the statistics of the ratings
df_removed_nan['Rating'].describe()

count    4585.000000
mean        6.328310
std         1.016548
min         1.200000
25%         5.700000
50%         6.400000
75%         7.000000
max         9.000000
Name: Rating, dtype: float64

In [43]:
# Average rating per year
df_removed_nan.groupby('Year')['Rating'].mean()

Year
2014    6.493528
2015    6.493777
2016    6.485287
2017    6.409111
2018    6.459406
2019    6.373697
2020    5.941328
2021    6.222849
2022    6.188861
2023    6.327493
2024    6.167751
Name: Rating, dtype: float64

<h2> Important: This question answers the Moodle quiz question 2. <h2>

In [44]:
# Top 10 movies with the highest rating in 2024
top_10_2024 = df_removed_nan[df_removed_nan['Year'] == 2024].sort_values('Rating', ascending=False)[:10]
top_10_2024

,Title,Year,Genres,Duration,Rating,MPA,Votes
5725,376. I'm Still Here,2024,"['Docudrama', 'Period Drama', 'Political Drama...",2h 16m,8.9,PG-13,9.6K
5651,302. A Little Family Drama,2024,"['Comedy', 'Drama']",1h 27m,8.8,PG-13,153
5750,401. Queen of the Ring,2024,"['Biography', 'Drama', 'Sport']",2h 10m,8.6,PG-13,93
5356,7. Dune: Part Two,2024,"['Action Epic', 'Desert Adventure', 'Epic', 'S...",2h 46m,8.5,PG-13,574K
5786,437. The Remarkable Life of Ibelin,2024,"['Animation', 'Biography', 'Documentary']",1h 46m,8.2,PG-13,10K
5461,112. Solo Leveling: ReAwakening,2024,"['Action Epic', 'Anime', 'Dark Fantasy', 'One-...",2h 1m,8.2,R,1.8K
5539,190. Faith of Angels,2024,"['Biography', 'Drama', 'Family']",1h 38m,8.2,PG,89
5366,17. The Wild Robot,2024,"['Computer Animation', 'Survival', 'Animation'...",1h 42m,8.2,PG,109K
5624,275. The World According to Allee Willis,2024,"['Biography', 'Documentary', 'Music']",1h 37m,8.1,Not Rated,44
5492,143. SUGA: Agust D Tour 'D-DAY' the Movie,2024,"['Concert', 'Documentary', 'Music']",1h 24m,8.1,Not Rated,1.1K

In [45]:
# Average rating of action movies per year

# Filter movies which Genres list contains 'Action'
action_movies = df_removed_nan[df_removed_nan['Genres'].apply(lambda x: 'Action' in x)]


# You can also use .str.contains
# action_movies = df_removed_nan[df_removed_nan['Genres'].str.contains('Action')]


# Group by year and calculate the average rating
action_avg_rating = action_movies.groupby('Year')['Rating'].mean()
action_avg_rating

Year
2014    6.351020
2015    6.240625
2016    6.177477
2017    6.397368
2018    6.291398
2019    6.195455
2020    5.815294
2021    6.071053
2022    6.179487
2023    6.207059
2024    5.885106
Name: Rating, dtype: float64